*{
    padding: 0;
    margin: 0;


}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(229, 255, 0, 0.267), rgb(0, 0, 0)), url(../images/12.-Truist-Park-Atlanta-Braves.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    


    
}


header {
    border-bottom: 3px solid rgb(9, 20, 29);

    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    font-family: 'Sigmar', cursive;

}

header h2 {
    
    font-size: 250%;
    font-style: italic;
    color: white;
    text-shadow: 3px 3px 7px rgb(0, 8, 255);
}

header h2, header h3 {
    padding: .6em .5em;
    padding-bottom: 200px;
    font-size: 500%;
}

h1 {
    padding-top: .75em 0;
}

h3, h4{
    padding: .5em 0
}

p{
    padding: .5em 0;
}

h1, h2, h3, h4 {
    margin-top: .75em;
}

header img {
    /* float: left; */
    margin: 0 .75em;
    margin-top: 50px;
    max-width: 350px;
    min-width:200px;
    width: 100%;
    padding-bottom: 5vh;

}

/* ===============================================
                    Nav Menu 
==================================================*/


#nav_menu {
    border-bottom: 3px solid rgb(10, 13, 16);
    font-family: 'Sigmar', cursive;
}


#nav_menu ul {
    list-style-type: none;
    position: relative;
}


#nav_menu ul li {
    float: left;
    width: 25%;
}


#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: rgba(5, 18, 29, 0.393);
    font-weight: bold;
    text-decoration: none;
    color: white;
}


#nav_menu ul ul{ 
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul::after {
    content:"";
    clear: both;
    display: block;
}

#nav_menu a:hover {
    color: black;
    background-color: rgb(27, 146, 197);
}

/*
#nav_menu #last{ 
    border-right: none;
}

#nav_menu ul li a{ 
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#nav_menu ul li a:hover{ 
    color: red;
    text-decoration: underline;
}
*/

#nav_list h2 { 
    margin-bottom: 5px;
    text-align: center;
}

#nav_list ul { 
    list-style-type: none;
}

#nav_list li {
    width: 90%;
    margin: 0 auto .5em;
}

#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightblue;
    padding: .5em;
    color:black;
}

#nav_list a:hover {
    color: white;
    background-color: steelblue;
}

main {
    clear:both;
    padding-right: .25em;
}

/* Link Colors */

section a:link, section a:visited {
color: maroon;
}

section a:hover, section a:focus {
    color: steelblue;
}

aside a:link, aside a:visited {
    color: steelblue
}

aside a:hover, aside a:focus {
    color: maroon;
}

aside li{
    line-height: 1.5em;
}


#aside3 {
    padding-left: 5vh;
    margin-bottom: 5vh;
    padding-right: 5vh;
    padding-top: 25vh;
}





#words{
    display: flex;
}

footer {
    clear: both;
    padding: 15px 0;
    border-radius: 0 0 25px 25px;
}

.clearfix::after{
    content: "";
    clear: "both";
    display: "table";
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
    /* padding: 0 .3em; */
    font-family: 'Sigmar', cursive;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin-left: 2vw;


}

section h1{
    font-size: 200%;
    color: blue;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

section p{
    font-size: 160%;
    font-family: 'Sigmar', cursive;
    text-align: center;
    text-shadow:  5px 5px 10px #1e00ff;

}


footer p{
    font-size: 75%;
    text-align: center;
    color: white;
    margin-top: 50px;
}


#mobilemenu {
    display: none;
}

/* ==================================================
                    SlideShow
=====================================================*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    float: right;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid royalblue;
  }

.digitalclock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(25, 0, 248);
    text-shadow: 2px 2px navy;
    padding: 1rem;  } 

.imagecarousel {
    position: relative;

}

.image {
    display: none;

}

.imagecarousel, .image, .fadeout {
    max-width: 600px;
    max-height: 800px;
    width: 100%;
    height: 100%;
}

.image:first-of-type {
    display: block;

}

.image img {
    border-radius: 5px;
    max-height: 400px;
    max-width: 100%;

}

.prev, .next {
    position: absolute;
    font-size: 150%;
    color: rgba(245, 245, 245, 0.35);
    top: 50%;
    background-color: rgba(128, 128, 128, 0.35);
    padding: 2vh;
    transform: translateY(-50%);
    transition: all 300ms ease;
}

.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover, .next:hover{
    background-color: rgba(128, 128, 128, 1);
    color: rgba(245, 245, 245, 1);
    cursor: pointer;
}

.dots {
    display: flex;
    gap: .5vw;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(205, 199, 199, 0.35);

}

.active {
    background-color: rgba(205, 199, 199, 1);
    

}

/*===================================================

                Media Queries
===================================================*/

@media only screen and (max-width: 900px) {
    body {
        box-shadow:none;
        border: none;
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {
    #nav_menu {
        display: none;
    }

    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: rgba(0, 13, 23, 0.675);
    }
    section, aside, #rightcol {
        float: none;
        width: 95%;
        margin: 10px auto;
    }

    #aside1{
        display: none;
    }

    #aside3{
        float: none;
        width: 95%;
        margin: 10px auto;
    }
    #words{
        display: block;
        padding-right: 5vh;
    }

    .digitalclock {
    font-size: 1rem;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
  }

  .digitalclock h3 {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}


